li {
  list-style: none;
}

a,
button {
  font-family: "Poppins", sans-serif;
}

.primary-btn a {
  background: #1b2b47;
  display: inline-block;
  padding: 9px 35px;
  color: #fff;
  font-size: 16px;
  font-family: "Playfair Display";
  border-radius: 5px;
  border: 1px solid #1b2b47;
  position: relative;
}
.primary-btn a:hover {
  background-color: transparent;
  color: #1b2b47;
  font-weight: 500;
  filter: brightness(0) saturate(100%) invert(16%) sepia(19%) saturate(1427%) hue-rotate(179deg) brightness(95%) contrast(98%);
}
.primary-btn a::before {
  content: "";
  position: absolute;
  background: url(../images/arrow-right.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: invert(1);
  height: 20px;
  width: 20px;
  left: auto;
  right: 12px;
  top: 13px;
}

.banner {
  height: 450px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.44);
  z-index: 0;
  height: 450px;
}

.bannertitle {
  z-index: 1;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  text-align: center;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  color: #1b2b47;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 45px;
  font-weight: 500;
  color: #fff;
  font-family: "Playfair Display";
}
@media screen and (max-width: 992px) {
  h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 27px;
  }
}
@media screen and (max-width: 575px) {
  h1 {
    font-size: 25px;
  }
}

h2 {
  font-size: 35px;
  line-height: normal;
  font-weight: 500;
  font-family: "Playfair Display";
}

h3 {
  font-size: 28px;
  line-height: normal;
  font-weight: 500;
  font-family: "Playfair Display";
}
@media screen and (max-width: 992px) {
  h3 {
    font-size: 23px;
  }
}
@media screen and (max-width: 575px) {
  h3 {
    font-size: 21px;
  }
}

h4 {
  font-size: 24px;
  line-height: normal;
  font-weight: 500;
  font-family: "Playfair Display";
  color: #1b2b47;
}

/*media queries start*/
@media screen and (max-width: 1199px) {
  .container {
    padding: 0 20px;
  }
  .site-logo img {
    max-width: 180px;
  }
  .site-nav a {
    display: inline-block;
  }
  .site-nav li {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .site-nav a {
    display: inline-block;
    padding: 8px 9px;
  }
  .site-nav li {
    font-size: 15px;
  }
  .culture-picture img {
    height: 720PX;
    object-fit: cover;
  }
}
@media screen and (max-width: 991px) {
  /*header start*/
  .site-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    background: #1b2b47;
    transition: 0.4s cubic-bezier(0, 0, 0.13, 0.61);
    transform: translateX(-100%);
  }
  .sticky .site-nav {
    background: #ffffff;
    max-width: unset;
    margin: unset;
  }
  .site-nav ul {
    display: block;
    padding: 75px 60px 0;
    display: inline-block !important;
  }
  .menu-toggle {
    display: block !important;
    cursor: pointer;
  }
  .closed-menu {
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: -5px;
    right: 15px;
    display: inline-block;
  }
  .closed-menu a:hover {
    color: #fff;
  }
  .closed-menu {
    display: block;
  }
  .toggle .site-nav {
    transform: translateX(0);
  }
  .closed-menu {
    display: block;
  }
  .site-header {
    padding: 20px 0;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999999;
    transition: all 0.5s linear;
  }
  .site-header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .site-logo img {
    max-width: 20rem;
  }
  .site-nav ul {
    display: block !important;
    flex-wrap: wrap;
    padding: 20px;
  }
  .site-nav li a {
    font-size: 17px;
    display: inline-block;
    padding: 0.8rem 2rem;
    text-transform: capitalize;
    color: #fff;
    position: relative;
    white-space: nowrap;
  }
  .site-nav li a:hover::after {
    width: 100%;
    transition: all 0.3s linear;
  }
  .site-nav .closed-menu a {
    font-size: 45px;
  }
  .menu-toggle .bar-1,
  .bar-2,
  .bar-3 {
    width: 2.5rem;
    height: 2px;
    background-color: #fcc05d;
    margin: 0.6rem 0;
    transition: all 0.3s linear;
    display: block;
  }
  ul.dropdown-content {
    position: absolute;
    width: 250px;
    background: transparent;
    top: 100%;
    left: 0;
    background: #fff;
    display: none;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .bar-2 {
    width: 2.5rem;
  }
  .bd-header-top__meta span {
    display: block;
    color: #fff;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
  }
  .bd-header-top__meta a {
    display: block;
    color: #fff;
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
    opacity: 0.7;
  }
  nav.site-nav {
    max-width: unset;
    margin: unset;
  }
  .homecontent {
    padding: 50px 0;
  }
  img.img-fluid.aeroplane {
    left: 81%;
    top: 80%;
  }
  .homecontent-para {
    margin-right: 0;
  }
  .casinohotel-card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    place-items: center;
    width: 100%;
  }
  .culture-text {
    margin-top: 20px;
  }
  .culture-picture img {
    height: 400px;
  }
  .footer-mails a,
  .footer-mails i {
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  .box.center {
    display: unset;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 25px;
  }
  img.img-fluid.aeroplane {
    left: 77%;
    top: 85%;
  }
  img.img-fluid.aeroplane {
    left: 36%;
    top: 67%;
  }
}
@media screen and (max-width: 575px) {
  .site-nav {
    width: 100%;
  }
  .casinohotel-main .row {
    padding: 0;
    margin: 0;
  }
  .bannertitle {
    width: 100%;
  }
  .hometext-shadow p::before {
    display: none;
  }
  .hometext-shadow {
    padding: 70px 15px;
  }
  .homecontent-para p {
    text-align: justify;
  }
  .cuisine__part p {
    font-size: 13px;
  }
}


/*# sourceMappingURL=responsive.css.map */
