@import './variables';
@import './mixins';

li {
    list-style: none;
}

a,
button {
    font-family: "Poppins", sans-serif;
}

.primary-btn a {
    background: $clr-darkblue;
    display: inline-block;
    padding: 9px 35px;
    color: #fff;
    font-size: 16px;
    font-family: 'Playfair Display';
    border-radius: 5px;
    border: 1px solid $clr-darkblue;
    position: relative;

    &:hover {
        background-color: transparent;
        color: $clr-darkblue;
        font-weight: 500;
        filter: brightness(0) saturate(100%) invert(16%) sepia(19%) saturate(1427%) hue-rotate(179deg) brightness(95%) contrast(98%);
    }

    &::before {
        content: "";
        position: absolute;
        background: url(../images/arrow-right.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: invert(1);
        height: 20px;
        width: 20px;
        left: auto;
        right: 12px;
        top: 13px;
    }
}

.banner {
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.banner::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.44);
    z-index: 0;
    height: 450px;
}

.bannertitle {
    z-index: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    text-align: center;
}

p {
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    color: $clr-darkblue;
    font-family: "Poppins", sans-serif;

}


h1 {
    font-size: 45px;
    font-weight: 500;
    color: $clr-white;
    font-family: "Playfair Display";

    @include mq(lg) {
        font-size: 35px;
    }

    @include mq(md) {
        font-size: 27px;
    }

    @include mq(sm) {
        font-size: 25px;
    }
}

h2 {
    font-size: 35px;
    line-height: normal;
    font-weight: 500;
    font-family: "Playfair Display";
}

h3 {
    font-size: 28px;
    line-height: normal;
    font-weight: 500;
    font-family: "Playfair Display";

    @include mq(lg) {
        font-size: 23px;
    }

    @include mq(sm) {
        font-size: 21px;
    }
}

h4 {
    font-size: 24px;
    line-height: normal;
    font-weight: 500;
    font-family: "Playfair Display";
    color: $clr-darkblue;
}